<div ng-controller="animalCompanionController">
    <div>
        Feats
        <div ng-repeat='feat in char.animal.feats'>feat.name</div>
        <button type="button" data-toggle="modal" data-target="#featModal">Add new</button>
    </div>        
<input type="button" value="-" ng-click="(level=maybeAdjust(level,-1,1,20))" />
{{level}}
<input type="button" value="+" ng-click="(level=maybeAdjust(level,1,1,20))" />
HD: {{hd=calculateHd(level)}}
BAB: {{bab=calculateBab(hd)}}
Stat incs: {{statincs = calculateStatIncs()}}
Normal advance <input type='radio' ng-model='$parent.char.notNormalAnimal' value='false'>
Dex/Con +2 advance <input type='radio' ng-model='$parent.char.notNormalAnimal' value='true'>
Finesse <input type='checkbox' ng-model='finesse'>
Agile <input type='checkbox' ng-model='agile'>
<table border="1">
<tr>
<th ng-repeat="stat in stats">
{{stat}}
</th>
</tr>
<tr ng-if='level>3'>
<td ng-repeat="stat2 in stats">
<input type='radio' ng-model='$parent.$parent.level4stat' value='{{stat2}}'>
</td>
</tr>
<tr ng-if='level>8'>
<td ng-repeat="stat2 in stats">
<input type='radio' ng-model='$parent.$parent.level9stat' value='{{stat2}}'>
</td>
</tr>
<tr ng-if='level>13'>
<td ng-repeat="stat2 in stats">
<input type='radio' ng-model='$parent.$parent.level14stat' value='{{stat2}}'>
</td>
</tr>
<tr ng-if='level>19'>
<td ng-repeat="stat2 in stats">
<input type='radio' ng-model='$parent.$parent.level20stat' value='{{stat2}}'>
</td>
</tr>
</table>
<table border="1">
<tr>
<th>name</th>
<th>str</th>
<th>dex</th>
<th>con</th>
<th>int</th>
<th>wis</th>
<th>cha</th>
<th>size</th>
<th>AC</th>
<th>HP</th>
<th>speed</th>
<th>Fort</th>
<th>Ref</th>
<th>Will</th>
<th>Advanced</th>
<th>Attacks</th>
</tr>
<tr ng-repeat="animal in animals">
<td>{{animal.name}}</td>
<td>{{animal.stats.curstr=animal.stats.str+calculateLowSave(level) + isFalse($parent.char.notNormalAnimal)*animal.advanced*animal.advancement.str + incs.str}}</td>
<td>{{animal.stats.curdex=animal.stats.dex+calculateLowSave(level)+isFalse($parent.char.notNormalAnimal)*animal.advanced*animal.advancement.dex + incs.dex + (1-isFalse($parent.char.notNormalAnimal))*animal.advanced*2}}</td>
<td>{{animal.stats.curcon=animal.stats.con + isFalse($parent.char.notNormalAnimal)*animal.advanced*animal.advancement.con + incs.con + (1-isFalse($parent.char.notNormalAnimal))*animal.advanced*2}}</td>
<td>{{animal.stats.int + incs.int}}</td>
<td>{{animal.stats.wis + incs.wis}}</td>
<td>{{animal.stats.cha + incs.cha}}</td>
<td>{{animal.cursize=choose(isAdvanced(level,animal)*isFalse($parent.char.notNormalAnimal), animal.size, animal.advancement.size)}}</td>
<td>{{animal.armor + 10 + statBonus(animal.stats.curdex) + sizeToAc(animal.cursize) + calculateLowSave(level)*2 + isAdvanced(level, animal)*isFalse($parent.char.notNormalAnimal) * animal.advancement.armor}}</td>
<td>{{calculateHp(animal)}}</td>
<td>{{animal.speed}}</td>
<td>{{calculateHighSave(hd)+statBonus(animal.stats.curcon)}}</td>
<td>{{calculateHighSave(hd)+statBonus(animal.stats.curdex)}}</td>
<td>{{calculateLowSave(hd)+statBonus(animal.stats.wis)}}</td>
<td>{{animal.advanced=isAdvanced(level, animal)}}</td>
<td>{{calculateAttacks(animal, animal.advanced, finesse, agile, isFalse($parent.char.notNormalAnimal))}}</td>
</tr>
    <div id="featModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose a feat</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="feat in animalFeats">
                        {{feat.name}}
                        <input type="radio" ng-model='$parent.newFeat' ng-value='feat' name='newFeatRadio'/>
                    </div>
                </div>
                <div>
                    Chosen feat: {{newFeat.name}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addFeatAndClose(newFeat)">Add</button>
                    <button type="button" class="btn btn-default mmclose" data-dismiss="modal" id="languageClose">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
