<div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Appearance
                        </h3>
                    </div>
                    <div class="panel-body">
                        Appearance here
                        <table class="table">
                            <tr>
                                <td>
                                    Height
                                </td>
                                <td>
                                    <input type="number" ng-model="$parent.char.appearance.height"/>
                                </td>
                                <td>
                                    Weight
                                </td>
                                <td>
                                    <input type="number" ng-model="$parent.char.appearance.weight"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Something 
                        </h3>
                    </div>
                    <div class="panel-body">
                        Something here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
