<div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Appearance
                        </h3>
                    </div>
                    <div class="panel-body">
                        Appearance here
                        <table class="table">
                            <tr>
                                <td>
                                    Height
                                </td>
                                <td>
                                    <input type="number" ng-model="$parent.char.appearance.height"/>
                                    ft
                                    <input type="number" ng-model="$parent.char.appearance.heightin"/>
                                    in
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Weight
                                </td>
                                <td>
                                    <input type="number" ng-model="$parent.char.appearance.weight"/>
                                    lb
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Eyes
                                </td>
                                <td>
                                    <input type="text" ng-model="$parent.char.appearance.eyes"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hair
                                </td>
                                <td>
                                    <input type="text" ng-model="$parent.char.appearance.hair"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Skin
                                </td>
                                <td>
                                    <input type="text" ng-model="$parent.char.appearance.skin"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Something 
                        </h3>
                    </div>
                    <div class="panel-body">
                        Pathfinder Society Data
                        <table class="table">
                            <tr>
                                <td>
                                    Experience                                    
                                </td>
                                <td>
                                    <input type="number" ng-model="$parent.char.misc.xp"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Player                                    
                                </td>
                                <td>
                                    <input type="text" ng-model="$parent.char.misc.player"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Number                                    
                                </td>
                                <td>
                                    <input type="text" ng-model="$parent.char.misc.number"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Prestige                                    
                                </td>
                                <td>
                                    <input type="number" ng-model="$parent.char.misc.prestige"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fame                                    
                                </td>
                                <td>
                                    <input type="number" ng-model="$parent.char.misc.fame"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Faction                                    
                                </td>
                                <td>
                                    <input type="text" ng-model="$parent.char.misc.faction"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Profession                                    
                                </td>
                                <td>
                                    <input type="text" ng-model="$parent.char.misc.profession"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
