<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        General
                    </h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <th>
                                Favourite class
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr ng-repeat='(myClass,level) in char.classes'>
                            <td ng-if='level > 0'>
                                <input type="radio" name="favouriteClassRadio" ng-model="$parent.char.classMeta.favourite" ng-value="myClass"/>
                            </td>
                            <td ng-if='level > 0'>
                                {{myClass}}
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>
                                First class
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr ng-repeat='(myClass, level) in char.classes'>
                            <td ng-if='level > 0'>
                                <input type="radio" name="firstClassRadio" ng-model="$parent.char.classMeta.first" ng-value="myClass"/>
                            </td>
                            <td ng-if='level > 0'>
                                {{myClass}}
                            </td>
                        </tr>
                    </table>
                    <div>
                        {{char.classMeta.first}}
                    </div>
                    <div>
                        <input type="checkbox" ng-model="$parent.char.averageHP">Average HP</input>
                    </div>
                    <div ng-if="char.averageHP">
                        {{$parent.char.hp=calculateHp(char, char.classMeta.first, classes)}}
                    </div>
                    <div ng-if="!char.averageHP">
                        <input type="text" ng-model="$parent.char.hp"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Summary
                    </h3>
                </div>
                <div class="panel-body">
                    <div>
                        Fort: {{util.totalSave('Fort',char,classes)}}
                        Ref: {{util.totalSave('Ref',char,classes)}}
                        Will: {{util.totalSave('Will',char,classes)}}
                    </div>
                    <div>
                        BAB: {{util.bab(char, classes)}}
                    </div>
                    <div>
                        HD: {{util.hd(char, classes)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="(myClass,level) in char.classes">
        <div class="col-md-6" ng-if="level">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{myClass}}
                    </h3>
                </div>
                <div class="panel-body">
                    Level: {{level}}
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="level">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{myClass}}
                    </h3>
                </div>
                <div class="panel-body">
                    <div ng-if='findClass(classes, myClass)["class abilities"].domains'>
                        All domains
                        <div ng-repeat="(name, domain) in domains">
                            {{name}} <button type="button" ng-click="addDomain(char, name, myClass)">Add</button>
                        </div>
                        Chosen domains ({{0+char.classMeta[myClass].domains.length}}/{{findClass(classes, myClass)["class abilities"].domains}})
                        <div ng-repeat="myDomain in char.classMeta[myClass].domains">
                            {{myDomain}} <button type="button" ng-click="removeDomain(char, myDomain, myClass)">Remove</button>
                        </div>
                    </div>
                    <table ng-if='char.classMeta.favourite===myClass'>
                        <tr>
                            <th>
                                Level
                            </th>
                            <th>
                                HP
                            </th>
                            <th>
                                Skill
                            </th>
                        </tr>
                        <tr ng-repeat="index in getRange(level)">
                            <td>{{index}}</td>
                            <td>
                                <input type="radio" name="fav{{$index}}" ng-model="$parent.char.favouriteBonuses[$index]" value="hp"/>
                            </td>
                            <td>
                                <input type="radio" name="fav{{$index}}" ng-model="$parent.char.favouriteBonuses[$index]" value="skill"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
