<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Weapons
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Damage
                            </th>
                            <th>
                                Critical
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr ng-repeat="weapon in char.equipment.weapons">
                            <td>
                                {{weapon.name}}
                            </td>
                            <td>
                                {{weapon.dicenum}}d{{weapon.dice}}
                            </td>
                            <td>
                                {{weapon.critrange}}
                            </td>
                            <td>
                                <button type="button" ng-click="removeWeapon(weapon)">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" data-toggle="modal" data-target="#weaponModal">Add new</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Armor
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Bonus
                            </th>
                            <th>
                                ACP
                            </th>
                            <th>
                                Arcane fail
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr ng-repeat="armor in char.equipment.armors">
                            <td>
                                {{armor.name}}
                            </td>
                            <td>
                                {{armor.bonus}}
                            </td>
                            <td>
                                {{armor.ACP}}
                            </td>
                            <td>
                                {{armor.fail}}
                            </td>
                            <td>
                                <button type="button" ng-click="removeArmor(armor)">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" data-toggle="modal" data-target="#armorModal">Add new</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        All items
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr ng-repeat="item in char.equipment.weapons">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.weight}}
                            </td>
                            <td>
                                {{item.price}}
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr ng-repeat="item in char.equipment.armors">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.weight}}
                            </td>
                            <td>
                                {{item.price}}
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr ng-repeat="item in char.equipment.items">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.weight}}
                            </td>
                            <td>
                                {{item.price}}
                            </td>
                            <td>
                                <button type="button" ng-click="removeItem(item)">
                                    Remove
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Total</b>
                            </td>
                            <td>
                                {{calculateTotal('weight', char.equipment.weapons, char.equipment.armors, char.equipment.items)}}
                            </td>
                            <td>
                                {{calculateTotal('price', char.equipment.weapons, char.equipment.armors, char.equipment.items)}}
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" data-toggle="modal" data-target="#itemModal" ng-click='customItem={name:"<custom>", custom: true}'>Add new</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="weaponModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose a weapon</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="weapon in weapons">
                        {{weapon.name}}
                        <input type="radio" ng-model='$parent.newWeapon' ng-value='weapon' name='newWeaponRadio'/>
                    </div>
                </div>
                <div>
                    Chosen weapon: {{newWeapon.name}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addWeaponAndClose(newWeapon)">Add</button>
                    <button type="button" class="btn btn-default mmclose" data-dismiss="modal" id="languageClose">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="armorModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose an armor</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="armor in armors">
                        {{armor.name}}
                        <input type="radio" ng-model='$parent.newArmor' ng-value='armor' name='newArmorRadio'/>
                    </div>
                </div>
                <div>
                    Chosen armor: {{newArmor.name}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addArmorAndClose(newArmor)">Add</button>
                    <button type="button" class="btn btn-default mmclose" data-dismiss="modal" id="languageClose">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="itemModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose an item</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="item in items">
                        {{item.name}}
                        <input type="radio" ng-model='$parent.newItem' ng-value='item' name='newItemRadio'/>
                    </div>
                    <div>
                        Custom item
                        <input type="radio" ng-model='newItem' name='newItemRadio' ng-value='customItem'/>
                    </div>
                    <div ng-if='newItem.custom'>
                        <div>
                            Name: <input type='text' ng-model='$parent.newItem.name'/>
                        </div>
                        <div>
                            Price: <input type='number' ng-model='$parent.newItem.price'/>
                        </div>
                        <div>
                            Weight: <input type='number' ng-model='$parent.newItem.weight'/>
                        </div>
                    </div>
                    <div ng-if='!newItem.custom'>
                        <div>
                            Name: {{newItem.name}}
                        </div>
                        <div>
                            Price: {{newItem.price}}
                        </div>
                        <div>
                            Weight: {{newItem.weight}}
                        </div>
                    </div>
                </div>
                <div>
                    Chosen item: {{newItem.name}}
                    Custom: {{newItem.custom}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addItemAndClose(newItem)+(newItem={})">Add</button>
                    <button type="button" class="btn btn-default mmclose" data-dismiss="modal" id="languageClose">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
