<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Weapons
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Damage
                            </th>
                            <th>
                                Critical
                            </th>
                        </tr>
                        <tr ng-repeat="weapon in char.equipment.weapons">
                            <td>
                                {{weapon.name}}
                            </td>
                            <td>
                                {{weapon.dicenum}}d{{weapon.dice}}
                            </td>
                            <td>
                                {{weapon.critrange}}
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" data-toggle="modal" data-target="#weaponModal">Add new</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Armor
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Bonus
                            </th>
                            <th>
                                ACP
                            </th>
                            <th>
                                Arcane fail
                            </th>
                        </tr>
                        <tr ng-repeat="armor in char.equipment.armors">
                            <td>
                                {{armor.name}}
                            </td>
                            <td>
                                {{armor.bonus}}
                            </td>
                            <td>
                                {{armor.ACP}}
                            </td>
                            <td>
                                {{armor.arcanefail}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        All items
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                        <tr ng-repeat="item in char.equipment.all">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.weight}}
                            </td>
                            <td>
                                {{item.price}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="weaponModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose a weapon</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="weapon in weapons">
                        {{weapon.name}}
                        <input type="radio" ng-model='$parent.newWeapon' ng-value='weapon' name='newWeaponRadio'/>
                    </div>
                </div>
                <div>
                    Chosen weapon: {{newWeapon.name}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addWeaponAndClose(newWeapon)">Add</button>
                    <button type="button" class="btn btn-default mmclose" data-dismiss="modal" id="languageClose">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
