<div ng-controller='skillsController'>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <H3 class="panel-title">Skills <span class="pull-right">Points: {{usedPoints()}}/{{calculatePoints()}} HD: {{calculateHd()}}</span></H3>
                </div>
                <div class="panel-body">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Skill
                                </th>
                                <th>
                                    Stat
                                </th>
                                <th>
                                    Ranks
                                </th>
                                <th>
                                    Bonus
                                </th>
                                <th>
                                    Class
                                </th>
                                <th>
                                    Untrained
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat='skill in skills'>
                            <tr ng-if='!skill.subtype'>
                                <td>
                                    {{skill.name}}
                                </td>
                                <td>
                                    {{skill.stat}}
                                </td>
                                <td>
                                    <input type="button" value="-" ng-click="maybeAdjust(skill, -1)"/>
                                    {{$parent.char.skills[skill.name]}}
                                    <input type="button" value="+" ng-click="maybeAdjust(skill, 1)"/>
                                </td>
                                <td>
                                    {{$parent.char.skills[skill.name] + statBonus($parent.$parent.char.totalstat[skill.stat]) + ($parent.char.skills[skill.name]&&isClassSkill(skill.name))*3}}
                                </td>
                                <td>
                                    {{isClassSkill(skill.name)}}
                                </td>
                                <td>
                                    {{!skill.trainedOnly}}
                                </td>
                            </tr>
                            <tr ng-repeat='subtype in skill.subtypes'>
                                <td>
                                    {{skill.name}} ({{subtype}})
                                </td>
                                <td>
                                    {{skill.stat}}
                                </td>
                                <td>
                                    <input type="button" value="-" ng-click="maybeAdjust(skill, -1, subtype)"/>
                                    {{checkSkill($parent.char, skill, subtype)+$parent.char.skills[skill.name+'('+subtype+')']}}
                                    <input type="button" value="+" ng-click="maybeAdjust(skill, 1, subtype)"/>
                                </td>
                                <td>
                                    {{$parent.char.skills[skill.name+'('+subtype+')'] + statBonus($parent.$parent.char.totalstat[skill.stat]) + ($parent.char.skills[skill.name+'('+subtype+')']&&isClassSkill(skill.name+'('+subtype+')'))*3}}
                                </td>
                                <td>
                                    {{isClassSkill(skill.name)}}
                                </td>
                                <td>
                                    {{!skill.trainedOnly}}
                                </td> 
                            </tr>           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Skill additional choices</h3>
                </div>
                <div class="panel-body">
                    <div>
                        Languages {{0+char.languages.length+char.race.languages.length}}/{{maxLanguages()}}
                    </div>
                    <div ng-repeat="racelang in char.race.languages">
                        {{racelang}}
                    </div>
                    <div ng-repeat="language in char.languages">
                        {{language}}
                    </div>
                    <div>
                        <button type="button" data-toggle="modal" data-target="#languageModal">Add new</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="languageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose a language</h4>
                </div>
            <div class="modal-body">
                <input type="text" ng-model='newLanguage'/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="addLanguageAndClose(newLanguage)">Add</button>
                <button type="button" class="btn btn-default mmclose" data-dismiss="modal" id="languageClose">Close</button>
            </div>
        </div>
    </div>

</div>
