<div ng-controller='skillsController'>
    <H1>Points: {{usedPoints()}}/{{calculatePoints()}} HD: {{calculateHd()}}</H1>
    <table>
        <tr>
            <th>
                Skill
            </th>
            <th>
                Stat
            </th>
            <th>
                Ranks
            </th>
            <th>
                Bonus
            </th>
            <th>
                Class
            </th>
            <th>
                Untrained
            </th>
        </tr>
        <tr ng-repeat='skill in skills'>
            <td>
                {{skill.name}}
            </td>
            <td>
                {{skill.stat}}
            </td>
            <td>
                <input type="button" value="-" ng-click="maybeAdjust(skill, -1)"/>
                {{$parent.char.skills[skill.name]}}
                <input type="button" value="+" ng-click="maybeAdjust(skill, 1)"/>
            </td>
            <td>
                {{$parent.char.skills[skill.name] + statBonus($parent.$parent.totalstat[skill.stat]) + ($parent.char.skills[skill.name]&&isClassSkill(skill.name))*3}}
            </td>
            <td>
                {{isClassSkill(skill.name)}}
            </td>
            <td>
                {{!skill.trainedOnly}}
            </td>
        </tr>
    </table>
</div>
