<div>
    <div class="col-md-6" ng-repeat="spellList in charSpellLists(char)">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{spellList}}
                </h3>
            </div>
            <div class="panel-body">
                <div ng-repeat='level in "0123456789".split("")'>
                    <div>
                        Level {{level}}
                    </div>
                    <div ng-repeat="spell in spellLists[spellList][level]">
                        {{spell}}
                        <button type="button" ng-click="addSpell(level, spell, spellList, $parent.$parent.char)">Add</button>
                    </div> 
                </div>
                <div>
                    Chosen:
                    <div ng-repeat='level in "0123456789".split("")'>
                        <div ng-if='char.spells[spellList][level]'>
                            <div ng-repeat='spell in char.spells[spellList][level]'>
                                {{level}}: {{spell}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="charSpellLists(char).length===0">
        <H1>No spells</H1>
    </div>
</div>
