<!-- div ng-controller="statsController" -->
<div class="col-md-12">
    <div class="row">
    <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Stats
                        <input class="pull-right" type="button" value="Reset" ng-click="reset(10)"/></h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                        <tr>
                            <th colspan="4">
                                Base stat
                            </th>
                    <th>
                        Race
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Bonus
                    </th>
                    <th ng-if='$parent.race.freescores > 0'>
                        Race bonus ({{$parent.$parent.freestat}})
                    </th>
                    <th ng-if='$parent.race.freescores > 1'>
                        Second race bonus ({{$parent.$parent.freestat2}})
                    </th>
                </tr>

                <tr ng-repeat='stat in stats'>
                    <td>
                        {{stat}}
                    </td>
                    <td>
                        <input type="button" value="-" ng-click="maybeAdjust(stat, -1)" />
                    </td>
                    <td>
                        {{$parent.base[stat]}}
                    </td>
                    <td>
                        <input type="button" value="+" ng-click="maybeAdjust(stat, 1)" />
                    </td>

                    <td>
                        {{racestat[stat]=$parent.$parent.race.scores[stat]}}
                    </td>
                    <td>
                        {{$parent.$parent.totalstat[stat]=$parent.base[stat]+racestat[stat]}}
                    </td>
                    <td>
                        <span ng-show="atleast(totalstat[stat],10)">+</span>{{statBonus($parent.$parent.totalstat[stat])}}
                    </td>
                    <!-- td ng-if='race.scores === "free"' -->
                    <td ng-if='race.freescores > 0'>
                        <input type='radio' ng-model='$parent.$parent.$parent.freestat' value='{{$parent.stat}}'>
                    </td>
                    <td ng-if='race.freescores > 1'>
                        <input type='radio' ng-model='$parent.$parent.$parent.freestat2' value='{{$parent.stat}}'>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Point Buy
                    </td>
                    <td>
                        {{calculatePointBuy($parent.base['str'])+calculatePointBuy($parent.base['dex'])+calculatePointBuy($parent.base['con'])+calculatePointBuy($parent.base['int'])+calculatePointBuy($parent.base['wis'])+calculatePointBuy($parent.base['cha'])}}
                    </td>
                    <td colspan="4">
                    </td>
                </tr>
                <tr>
                    <td colspan='4'>
                        Limit to Point Buy ranges
                    </td>
                    <td>
                        <input type='checkbox' ng-model='$parent.pblimit'>
                    </td>
                    <td colspan="4">
                    </td>
                </tr>
                <tr>
                    <td colspan ='4'>
                        Carrying capacity
                    </td>
                    <td colspan='5'>
                        ({{floor(calculateCarryingCapacity(totalstat['str'])/3)}}/
                        {{floor(2*calculateCarryingCapacity(totalstat['str'])/3)}}/
                        {{(calculateCarryingCapacity(totalstat['str']))}})
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Classes</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                Class
                            </th>
                            <th colspan="3">
                                Levels
                            </th>
                        </tr>
                        <tr ng-repeat="myclass in classes">
                            <td>
                                {{myclass.name}}
                            </td>
                            <td>
                                <input type="button" value="-" ng-click="changeLevel(myclass,-1)"/>
                            </td>
                            <td>
                                {{showLevel(myclass)}}
                            </td>
                            <td>
                                <input type="button" value="+" ng-click="changeLevel(myclass, 1)"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Race</h3> 
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">Options<span class="caret"></span></button>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>Test1</li>
                                <li>Test2</li>
                            </ul>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
            <table>
                <tr ng-repeat="thisrace in $parent.races">
                    <td>
                        <input type="radio" name="race" ng-model="$parent.$parent.race" ng-value="thisrace"/>
                    </td>
                    <td>
                        {{thisrace.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Race:
                    </td>
                    <td>
                        {{$parent.race.name}}
                    </td>
                </tr>
            </table>
                </div>
            </div>
        </div>
    </div>

</div>
