<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>
            Vialeea Pathfinder character builder
        </TITLE>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.6-dist/css/bootstrap.css">
        <script src="lib/jquery-1.12.2.js"></script>
        <script src="lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
        <script src="lib/angular.js"></script>
        <script src="lib/angular-route.js"></script>
        <script src="lib/angular-resource.js"></script>
        <script src="BootstrapChars.js"></script>
        <script src="controllers/featsController.js"></script>
        <script src="controllers/statsController.js"></script>
        <script src="controllers/animalCompanionController.js"></script>
        <script src="controllers/damageController.js"></script>
        <script src="controllers/skillsController.js"></script>
        <script src="controllers/spellsController.js"></script>
        <script src="controllers/equipmentController.js"></script>
        <script src="controllers/loadController.js"></script>
        <script src="controllers/classController.js"></script>
        <script src="controllers/traitsController.js"></script>
        <script src="data/coreFeatsJson.js"></script>
        <script src="data/animals.js"></script>
        <script src="data/skills.js"></script>
        <script src="data/classesJson.js"></script>
        <script src="data/weapons.js"></script>
        <script src="data/armors.js"></script>
        <script src="data/items.js"></script>
        <script src="data/spells.js"></script>
        <script src="data/spellsCleric.js"></script>
        <script src="data/spellsDruid.js"></script>
        <script src="util/baseUtil.js"></script>
        <script src="lib/underscore.js"></script>
    </HEAD>
    <BODY ng-app="myApp">
        <div ng-controller="myController">
            <ul class="nav nav-tabs">
                <LI role="presentation" class="{{active_tab(1)}}"><A HREF="#/stats" ng-click="tab_page=1">Stats</A></LI>
                <LI role="presentation" class="{{active_tab(9)}}"><A HREF="#/class" ng-click="tab_page=9">Classes</A></LI>
                <LI role="presentation" class="{{active_tab(2)}}"><A HREF="#/feats" ng-click="tab_page=2">Feats</A></LI>
                <LI role="presentation" class="{{active_tab(10)}}"><A HREF="#/traits" ng-click="tab_page=10">Traits</A></LI>
                <LI role="presentation" class="{{active_tab(3)}}"><A HREF="#/damage" ng-click="tab_page=3">Damage</A></LI>
                <LI role="presentation" class="{{active_tab(4)}}"><A HREF="#/skills" ng-click="tab_page=4">Skills</A></LI>
                <LI ng-show="hasAnimal()" role="presentation" class="{{active_tab(5)}}"><A HREF="#/animalCompanion" ng-click="tab_page=5">Animal</A></LI>
                <LI role="presentation" class="{{active_tab(6)}}"><A HREF="#/spells" ng-click="tab_page=6">Spells</A></LI>
                <LI role="presentation" class="{{active_tab(7)}}"><A HREF="#/equipment" ng-click="tab_page=7">Equipment</A></LI>
                <LI role="presentation" class="{{active_tab(8)}}"><A HREF="#/load" ng-click="tab_page=8">Load</A></LI>
            </ul>
            <div class="container">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
	                        {{char.name}} 
                            <span ng-show="!char.name">&lt;no name&gt;</span> 
                            <span ng-repeat="myclass in classes">
                                <span ng-show="char.classes[myclass.name]">
                                    <span ng-show="!isFirst(myclass.name)">/</span>
                                    {{myclass.name}} {{char.classes[myclass.name]}} 
                                </span>	
                            </span>
                            <span class="pull-right">
                                <button type="button" ng-click="save()">Save</button>
                                <button type="button" data-toggle="modal" data-target="#myModal">Change name</button>
                            </span>
                        </div>
                    </div>
                    <div ng-view></div>
                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Change the character name</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" ng-model='char.name'/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </BODY>
</HTML>

